[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
langchain-groq = "*"
langchain-openai = "*"
langchain-tavily = "*"
pydantic-settings = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
streamlit = "*"
requests = "*"

[dev-packages]
pytest = "*"
httpx2 = "*"

[requires]
python_version = "3.12"
